- @details.each do |cur|
  %tr{:class => "#{params[:id]}_#{params[:user_id]}_#{params[:project_id]}_details"}
    %td
    %td
      = cur.description
    %td
      = cur.start_time.strftime("%Y/%m/%d %H:%M")
      &mdash;
      = cur.end_time.strftime("%Y/%m/%d %H:%M")
