- content_for :js do
  - if current_user.admin
    = javascript_include_tag 'initialize_datetimepicker', "jquery-ui-timepicker-addon" 
  - else
    = javascript_include_tag 'initialize_timepicker', "jquery.ui.timepicker"

= form_for(@task) do |f|
  = f.error_messages

  - if current_user.admin
    = f.label :users
    %br
    = f.select :user_id, User.all.collect {|user| [user.username, user.id]}, :prompt => 'Select user'
    %br

  = f.label :project_name
  %br
  - if current_user.admin
    = f.select :project_id, ["add_project"] + Project.all.collect{|p| [p.name, p.id]}, {:prompt => 'Select a project'}, {:onchange => "add_project()"}
  - else
    = f.select :project_id, ["add project"] + current_user.projects.collect{|p| [p.name, p.id]}, {:prompt => 'Select a project'}, {:onchange => "add_project()"}
  %br

  = f.label :description
  %br
  = f.text_area :description,:rows => 4, :cols => 50
  %br

  - date_format = current_user.admin ? "%d/%m/%Y %H:%M" : "%H:%M"


  = f.label :start_time
  = f.text_field :start_time, :value => f.object.start_time.blank? ? Time.now.strftime(date_format) : f.object.start_time.strftime(date_format)
  %br
  
  = f.label :end_time
  = f.text_field :end_time, :value => f.object.end_time.blank? ? Time.now.strftime(date_format) : f.object.end_time.strftime(date_format)
  %br
  = f.label :external_link
  = f.text_field :external_link
  %br

  = f.submit "Save" 
