= form_for @task, :remote => true, :html => {:id => "new_task"} do |f|
  = f.error_messages

  - if current_user.admin
    = f.label :user_id, "Users"
    %br
    = f.select :user_id, User.all.collect {|user| [user.username, user.id]}, :prompt => 'Select user'
  %br

  = f.label :project_name
  %br
  = f.select :project_id, ["add_project"] + Project.all.sort_by{ |k| k['name']}.collect{|p| [p.name, p.id]}, {:prompt => 'Select a project'}, {:onchange => "add_project()"}
  %br
   
  %div{:class => "new_project #{(!params[:task].blank? and params[:task][:project_id].eql?("add_project")) ? '' : 'hide'}"}
    = f.fields_for :project do |project|
      = project.label :name, "Enter new project"
      %br
      = project.text_field :name

  %br

  = f.label :task_name
  %br
  = f.text_field :task_name
  %br


  = f.label :description
  %br
  = f.text_area :description,:rows => 4, :cols => 50
  %br

  - date_format = current_user.admin ? "%m/%d/%Y %H:%M" : "%H:%M"


  = f.label :start_time
  = f.text_field :start_time, :value => f.object.start_time.blank? ? Time.now.strftime(date_format) : f.object.start_time.strftime(date_format)
  %br

  = f.label :end_time
  = f.text_field :end_time, :value => f.object.end_time.blank? ? Time.now.strftime(date_format) : f.object.end_time.strftime(date_format)
  %br
  = f.label :external_link
  = f.text_field :external_link
  %br

  = button_to_function "Save", "$('#new_task').submit()"

= javascript_tag do
  - if current_user.admin
    $('#task_start_time, #task_end_time').datetimepicker()
  - else
    $('#task_start_time, #task_end_time').timepicker()

:javascript

  $(function() {
    $( "#task_task_name" ).autocomplete({
      source: "tasks/task_name_list.js",
    });
  });
