= form_for(@task) do |f|
  = f.error_messages

  = f.label :project_name
  %br
  = f.select :project_id, Project.all.collect {|p| [p.name, p.id]}, :prompt => 'Select a project'
  %br

  = f.label :description
  %br
  = f.text_area :description,:rows => 4, :cols => 50
  %br

  = f.label :start_time
  - if current_user.admin
    = f.datetime_select :start_time
  - else
    = f.time_select(:start_time, :default => { :hour => 23, :minute => 59 })
  %br
  
  = f.label :end_time
  - if current_user.admin
    = f.datetime_select :end_time
  - else
    = f.time_select(:end_time, :default => { :hour => 23, :minute => 59 })
  %br

  = f.label :external_link
  = f.text_field :external_link
  %br

  = f.submit "Save" 
