%h1 Your tasks for today
#calendar
= @current_date
%table{:border => 1}
  %tr
    - if current_user.admin
      %td
        = "Users"
    %th
      = sortable "task.project.name",  "Projects", params[:date], params[:per_page]
    %th
      = sortable "description", "Description", params[:date], params[:per_page]
    %th
      = sortable "start_time", "Start time", params[:date], params[:per_page]
    %th
      = sortable  "end_time", "Finish time", params[:date], params[:per_page]
    %th
      = sortable "external_link", "External_link", params[:date], params[:per_page]
  - @tasks.each do |task|
    %tr
      - if current_user.admin
        %td
          = task.user.username
      %td
        = task.project.name 
      %td
        = truncate(task.description, :length => 60)
      %td
        = task.start_time.strftime("%H:%M")
      %td
        = task.end_time.strftime("%H:%M") 
      %td 
        = raw(auto_link(task.external_link))
      - if @current_date == Date.today or current_user.admin
        %td
          = link_to 'Show', task
          %br
          = link_to 'Edit', edit_task_path(task)
          %br
          = link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete

= link_to 'New Task', new_task_path

%p
  = will_paginate @tasks
  Number items on page:
  = select_tag "per_page", options_for_select([[3,3], [5,5], [10,10], ["all", 100000]], params[:per_page]), :onchange => "if(this.value){window.location=window.location.search.replace(/&per_page.*/, '') + '&per_page='+this.value;}"
     
