- if current_user.admin
  %h4 Reports for week
  = raw show_weeks 

#link_profile
  = link_to 'Your profile', edit_user_registration_path

%h2 Your tasks for today

#calendar

%table#tasks{:border => 1}
  %tr
    - if current_user.admin
      = helper_for_sortable "users.username", "Users"
    = helper_for_sortable "projects.name",  "Projects"
    = helper_for_sortable "task_name",  "Task name"
    = helper_for_sortable "description.description_name", "Description"
    = helper_for_sortable "start_time", "Start time"
    = helper_for_sortable "end_time", "Finish time"
    = helper_for_sortable "external_link", "External_link"
  = render @tasks 

%div{:class => "new_task_link #{(@current_date == Date.today or current_user.admin) ? '' : 'hide'}"}
  = link_to 'New Task', new_task_path(transfer_params, :date => params[:date]), :rel=>"#overlay"
  .apple_overlay#overlay
    .contentWrap

%p
  = will_paginate @tasks
  - unless @tasks.empty?
    Number items on page:
    = select_tag "per_page", options_for_select([[3,3], [5,5], [10,10], ["all", 100000]], params[:per_page]), :onchange => "Pages.per_page(this.value,'#{params[:direction]}','#{params[:sort]}')"


:javascript
  $(document).ready(function() {
    $('#calendar').datepicker({
      firstDay: 1, 
      defaultDate: new Date('#{params[:date]}'),
      onSelect: function(dataText){
        window.location.href = "/?date=" + dataText + "&per_page=#{params_perpage}" + "&direction=#{sort_direction}" + "&sort=#{sort_column}";
      }
    });
  });
