- if current_user.admin
  %h4 Reports for week
  = raw show_weeks 

%h2 Your tasks for today

#calendar
%table{:border => 1}
  %tr
    - if current_user.admin
      %th
        = sortable "users.username", "Users", params[:date], params[:per_page]
    %th
      = sortable "projects.name",  "Projects", params[:date], params[:per_page]
    %th
      = sortable "task_name",  "Task name", params[:date], params[:per_page]
    %th
      = sortable "description", "Description", params[:date], params[:per_page]
    %th
      = sortable "start_time", "Start time", params[:date], params[:per_page]
    %th
      = sortable  "end_time", "Finish time", params[:date], params[:per_page]
    %th
      = sortable "external_link", "External_link", params[:date], params[:per_page]
  - @tasks.each do |task|
    %tr
      - if current_user.admin
        %td
          = task.user.username
      %td
        = task.project.name 
      %td
        =task.task_name
      %td
        = truncate(task.description, :length => 60)
      %td
        = task.start_time.strftime("%H:%M")
      %td
        = task.end_time.strftime("%H:%M") 
      %td 
        = raw(auto_link(task.external_link))
      - if @current_date == Date.today or current_user.admin
        %td
          = link_to 'Edit', edit_task_path(task, :sort => params[:sort], :direction => params[:direction], :per_page => params[:per_page]), :rel=>"#overlay"
          %br
          = link_to 'Destroy', task_path(task, :sort => params[:sort], :direction => params[:direction], :per_page => params[:per_page]), :confirm => 'Are you sure?', :method => :delete

%div{:class => "new_task_link #{(@current_date == Date.today or current_user.admin) ? '' : 'hide'}"}
  = link_to 'New Task', new_task_path(:sort => params[:sort], :direction => params[:direction], :per_page => params[:per_page] ), :rel=>"#overlay"
  .apple_overlay#overlay
    .contentWrap

%p
  = will_paginate @tasks
  - unless @tasks.empty?
    Number items on page:
    = select_tag "per_page", options_for_select([[3,3], [5,5], [10,10], ["all", 100000]], params[:per_page]), :onchange => "per_page(this.value,'#{params[:direction]}','#{params[:sort]}')"


:javascript
  $(document).ready(function() {
    $('#calendar').datepicker({
      firstDay: 1, 
      defaultDate: new Date('#{params[:date]}'),
      onSelect: function(dataText){
        window.location.href = "/?date=" + dataText + "&per_page=#{(params[:per_page]).nil? ? 3 : params[:per_page]}" + "&direction=#{params[:direction]}" + "&sort=#{params[:sort]}";
      }
    });
  });
