%h1 Your tasks for today
#calendar
= @current_date
%table{:border => 1}
  %tr
    %th
      = sortable "task.project.name",  "Projects", params[:date]
    %th
      = sortable "description", "Description", params[:date]
    %th
      = sortable "start_time", "Start time", params[:date]
    %th
      = sortable  "end_time", "Finish time", params[:date]
    %th
      Options
  - @tasks.each do |task|
    %tr
      %td
        = task.project.name 
      %td
        = truncate(task.description, :length => 60)
      %td
        = task.start_time.strftime("%H:%M")
      %td
        = task.end_time.strftime("%H:%M") 
      %td 
        = raw(auto_link(task.external_link))
      - if @current_date == Date.today
        %td
          = link_to 'Show', task
          %br
          = link_to 'Edit', edit_task_path(task)
          %br
          = link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete

= link_to 'New Task', new_task_path

%p
  =will_paginate @tasks
