<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
//%script{:src => "http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true_or_false&amp;key=ABQIAAAABjOkPfNrB7TiskPIlg4__BTVARu1I5z0BTnpsEdZuIyl8_eAKxRPW_AZmTLA4E-70bVcGMVq420dyA", :type => "text/javascript"}
 
.orange_stile
  %h4 Your profile
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email
  %div
    = f.label :username
    %br/
    = f.text_field :username
  %div
    = f.label :password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password
  %div
    = f.label :new_password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %div
    %br
    = f.label :address
    %br
    = f.text_field :address
  %div= f.submit "Update"
.orange_stile
  %h4 Associate profile
- flash.each do |name, msg|
  = content_tag :div, msg, :id => "flash_#{name}"
%br/
- if current_user.authentications.twitter.empty?
  = link_to image_tag("/images/twitter.png", :size => "64x64", :alt => "Twitter"), "/auth/twitter", :class => "auth_provider"
- else
  = link_to image_tag("/images/twitter_del.png",:title => "delete twitter association"), current_user.authentications.twitter.first, :confirm => 'Are you sure you want to remove this assotiation ', :method => :delete
- if current_user.authentications.facebook.empty?
  = link_to image_tag("/images/facebook.png", :size => "64x64", :alt => "facebook"), "/auth/facebook", :class => "auth_provider"
- else
  = link_to image_tag("/images/facebook_del.png",:title => "delete facebook association"), current_user.authentications.facebook.first, :confirm => 'Are you sure you want to remove this assotiation ', :method => :delete


%br
= button_to_function "Set my position","showAddress('Украина Киев')"

#map_canvas

.orange_stile
  %h4 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
= link_to "Back to tasks", tasks_path

:javascript
  $(function(){
    initialize();
  }); 

