

= link_to 'Back', :back

%h3 Report for week
- Project.all.sort_by{ |k| k['name']}.each do |project|
  %div.report_project
    = project.name
  - tasks = project.tasks.where(:start_time => DateTime.parse(params[:start_date])..DateTime.parse(params[:end_date]))
  - unless  tasks.empty?
    - tasks.group(:user_id).each do |task_user|
      %table.table_users
        %tr
          %td.table_users_td_width
            = task_user.user.username
          %td
            %table.report_tasks{:border => 1}
              %tr
                %th Task name
                %th "Spent time"
                %th
              - tasks.where(:user_id => task_user.user.id).group(:task_name).select("tasks.*, SUM(TIME_TO_SEC(TIMEDIFF(end_time, start_time))) as spent_time").each do |task|
                %tr{:id => "#{task.id}_#{task.user_id}_#{task.project_id}"}
                  %td.report_tasks_td_task_name
                    =task.task_name
                  %td.report_tasks_td_time
                    = Time.at(task.spent_time.to_i).utc.strftime("%H:%M")
                  %td
                    = link_to image_tag("down_arrow.gif"), details_tasks_path(:start_date => params[:start_date], :end_date => params[:end_date], :user_id => task.user_id, :project_id => task.project_id, :id => task.id, :task_name => task.task_name), :remote => true, :class => "link_to_ajax"
                    - id = "#{task.id}_#{task.user_id}_#{task.project_id}"
                    = link_to_function image_tag("up_arrow.gif"), "add_and_remove_arrow_button('#{id}') ", :class => "link_to_func hide"
  - else
    = "No tasks"

%br    
= link_to 'Back', :back


:javascript

  function add_and_remove_arrow_button(id) {
    $('.'+id+'_details').remove();
    $("#" + id + " a.link_to_func").addClass('hide'); 
    $("#" + id + " a.link_to_ajax").removeClass('hide');    
  };
